# ==================================================================
# FILE     .gitignore
# MACHINE  all
# INFO     for Build repository
#
# DATE     03.05.2023
# OWNER    Bischofberger
# ==================================================================

# git shall ignore the following
packages/
testing/
cloned-repositories/
