# ==================================================================
# FILE     .gitignore (for Build repository)
# MACHINE  all
# INFO     -
#
# DATE     15.07.2014
# OWNER    Bischofberger
# ==================================================================

# git shall ignore the following
laptop/
desktop/
